.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-family: "Montserrat", sans-serif;
  }
.letter404 {
    font-size: 18rem;
    color: #ff6060;
    font-weight: 700;
}
  
.message404 {
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
}
.backHome {
    margin-top: 7rem;
    color: #ff6060;

}
  
.returnButton {
    color: ff6060;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

@media only screen and (max-width: 675px) {
  .letter-404 {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 356px) {
  .letter-404 {
    font-size: 7rem;
  }

  .message-404 {
    font-size: 0.8rem;
  }

  .link-back-to-home {
    font-size: 0.8rem;
  }
}
