.apartContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 6rem;
  }
  
  .apartDetails {
    display: flex;
    flex-direction: column;
  }
  
  .apartTitle {
    color: #ff6060;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
  }
  
  .apartLocation {
    font-size: 1rem;
    color: #ff6060;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
  }
  
  .apartTags {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0;
  }
  .tag {
    background: #ff6060;
    margin: 0.8rem 0;
    padding: 0 0.8rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    height: 30px;
  }
  
  .apartRating {
    display: flex;
    flex-direction: column;
  }
  
  .hostContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .hostProfil {
    border-radius: 50%;
    height: 64px;
    width: 64px;
  }
  
  .hostName {
    width: 93px;
    width: 52px;
    font-size: 18px;
    color: #ff6060;
    font-family: "Montserrat", sans-serif;
  }
  .stars{
    display: flex;
    gap: 0.5rem;
  }
  
  .hostRating {
    margin: 1rem 0;
  }
  
  @media only screen and (max-width: 1155px) {
    .apartContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .apartDetails {
      justify-content: center;
      align-items: center;
    }
    .apartTags {
      justify-content: center;
      align-items: center;
    }
    .apartTitle {
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 735px) {
    .apartTags {
      width: 40%;
    }
  }
  @media only screen and (max-width: 426px) {
    .apartTags {
      width: 100%;
    }
    .apartContainer{
      margin: 2rem 1rem;
      align-items: start;
    }
    .apartTitle{
      font-size: 1.5rem;
      text-align: left;
    }
    .apartDetails{
      align-items: flex-start;
    }
    .apartRating{
      flex-direction: row-reverse;
      gap:115px
    }
    .stars img{
      width: 20px;
    }


  }
  @media only screen and (max-width: 376px) {
    .apartRating{
      gap:63px
    }
  }
  @media only screen and (max-width: 325px) {
    .apartTags {
      gap:5px
    }
    .apartRating{
      gap:17px
    }
  }