.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  .navItem {
    display: inline-block;
    padding: 0 20px;
  }
  .navLink {
    color: #ff6060;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .navLink.active {
    text-decoration: underline;

  }

  .logo {
    height: 60px;
    width: 150px;
  }
  
  .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media only screen and (max-width: 443px) {
    .navbarContainer {
      padding: 0 1rem;
    }
    .navItem {
      padding: 0 0.5rem;
    }
    .navLink {
      font-size: 0.9rem;
    }

    .navItem {
      padding: 0 0.5rem;
    }
    .navLink {
      font-size: 0.9rem;
    }

  }
  @media only screen and (max-width: 376px) {
    .links {
      font-size: 0.8rem;
    }
    .links{
      padding-left: 0px;
    }
    .logo{
      width: 111px
    }
  }